html {
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* .border {
	border-right: 2px solid godl;
} */
body {
	line-height: 1.6;
	font-weight: 300;
	font-family: "Lato", sans-serif;
	color: #777;
	padding: 3rem;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.heading-secondary {
	font-size: 2.25rem;
	text-transform: uppercase;
	font-weight: 700;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#7dd56f),
		to(#28b487)
	);
	background-image: linear-gradient(to right, #7dd56f, #28b487);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	letter-spacing: 0.1rem;
	line-height: 1.3;
	display: inline-block;
}

.login-form {
	margin: 0 auto;
	min-width: 45rem;
	max-width: 45rem;
	background-color: #fff;
	-webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
	box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
	padding: 5rem 7rem;
	border-radius: 5px;
}
/* .login-form: */

.form__input {
	display: block;
	font-family: inherit;
	font-size: 1.5rem;
	color: inherit;
	padding: 1.25rem 1.75rem;
	border: none;
	width: 100%;
	background-color: #fff;
	background-color: #f2f2f2;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
	outline: none;
	border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
	border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
	color: #bbb;
}

.form__group:not(:last-child) {
	margin-bottom: 2.5rem;
}

.form__label {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
}

.form__photo-upload {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.6rem;
}

.form__user-photo {
	height: 7.5rem;
	width: 7.5rem;
	border-radius: 50%;
	margin-right: 2rem;
}

.form__upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form__upload:focus + label {
	outline: 3px solid #55c57a;
	outline-offset: 3px;
}

.form__upload + label {
	color: #55c57a;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #55c57a;
	padding: 3px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
.form__upload + label:hover {
	background-color: #55c57a;
	color: #fff;
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.form__area {
	width: 97%;
	height: 120px;
	resize: vertical;
	outline: none;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
/* .btn--green {
	background-color: #55c57a;
	color: white;
} */
.btn,
.btn:link,
.btn:visited {
	/* margin-right: 3rem; */
	font-size: 1.6rem;
	padding: 1.4rem 3rem;
	border-radius: 10rem;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	font-weight: 400;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: none;
	cursor: pointer;
}
#clear {
	margin-left: 3rem;
	float: right;
}
.btn:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
